# java
/bin/
/target/
/build/
/out/

# eclipse
/.settings/
/.project
/.classpath

# intelliJ
/.idea/
/.idea/modules
*.iml
*.ipr
*.iws

# gradle
/.gradle/
/gradle/wrapper/
/gradlew
/gradlew.bat
/gradle

# logs
/logs
